<div class="container">
  {{usuario | json}}
  {{form.valid}}
  <form #form="ngForm" (ngSubmit)="save(form)">
    <div class="form-group">
      <label>Nome</label>
      <input type="text" name="nome" [(ngModel)]="usuario.nome"
          required minlength="10" #formNome="ngModel">
      <div *ngIf="formNome.hasError('required') && formNome.dirty">Nome é necessário</div>
      <div *ngIf="formNome.hasError('minlength') && formNome.dirty">Nome tem tamanho minimo</div>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="text" name="email" [(ngModel)]="usuario.email"
        required email>
    </div>
    <div class="form-group">
      <label>Profissão</label>
      <select name="" id="" name="profissao" [(ngModel)]="usuario.profissaoId">
        <option value="">Selecione</option>
        <option *ngFor="let p of profissoes" [value]="p.id">{{p.nome}}</option>
      </select>
    </div>
    <div class="form-group">
      <button type="submit" [disabled]="!form.valid">Salvar</button>
    </div>
  </form>
</div>
