<div class="container">
  <form action="">
    <div class="form-group">
      <label>Nome</label>
      <input type="text">
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="text">
    </div>
    <div class="form-group">
      <label>Profissão</label>
      <select name="" id="">
        <option value="">Selecione</option>
        <option value="">Engenheiro</option>
        <option value="">Dentista</option>
      </select>
    </div>
    <div class="form-group">
      <button type="submit">Salvar</button>
    </div>
  </form>
</div>
