body{
  font-family: Arial, Helvetica, sans-serif;
}
.container{
  width: 80%;
  padding: 2.5%;
  margin: 0 auto;
  background-color: ghostwhite
}
.form-group{
  display: table;
  width: 100%;
  margin-bottom: 10px;
}
.form-group > label{
  display: block;
  margin-bottom: 2px;
  font-size: 16px
}
.form-group > input{
  width: 98%;
  padding: 1%;
  border: 1px solid gainsboro;
}
.form-group > select{
  width: 100%;
  padding: 1%;
  background: white;
}
.form-group > button{
  padding: 1%;
  border: none;
}
input.ng-invalid.ng-touched {
  border: solid 1px red !important;
}
